@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    font-size: 24pt;
    line-height: 1.25;
    margin: 0;
    height: 500vh;
    height: 500lvh;
    background: #2d3047;
}

body * {
    margin: 0;
    text-align: center;
}

.page {
    height: 100vh;
    height: 100lvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10pt;
    box-sizing: border-box;
    position: fixed;
}

.page[data-page="1"] {
    top: 0;
    color: #e7e7ff;
    background: #2d3047;
}

.page[data-page="2"] {
    top: 100vh;
    top: 100lvh;
    color: #2d3047;
    background: #deb841;
}

.page[data-page="3"] {
    top: 200vh;
    top: 200lvh;
    color: #e7e7ff;
    background: #419d78;
}

.page[data-page="4"] {
    top: 300vh;
    top: 300lvh;
    color: #e7e7ff;
    background: #c04abc;
}

.page[data-page="5"] {
    top: 500vh;
    top: 500lvh;
    color: #2d3047;
    background: #e7e7ff;
}

h1 {
    vertical-align: middle;
    font-weight: 100;
    font-size: 100pt;
}

a,
a:active,
a:visited {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    border-bottom: 2px solid;
}

@media only screen and (max-width: 780px) {
    body {
        font-size: 16pt;
        font-weight: 600;
    }
    b {
        font-weight: 800;
    }
    h1 {
        font-size: 42pt;
    }
    .sub {
        font-size: 8pt;
    }
}

.knockout {
    background: radial-gradient(
        circle,
        rgba(192, 74, 188, 1) 0%,
        rgba(201, 201, 238, 1) 33%,
        rgba(222, 184, 65, 1) 67%,
        rgba(65, 157, 120, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: Gradient 12s infinite;
    -webkit-animation: Gradient 12s infinite;
    -moz-animation: Gradient 12s infinite;
}

#down-arrow {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%) scaleX(1.8);
    font-size: 32px;
    color: #e7e7ff;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.ie-data {
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: -4px -24px;
    padding: 4px 24px;
}

.ie-data > .hover {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    color: #2d3047;
    background-color: #e7e7ffc0;
    top: -22px;
    left: 0;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 12px 24px;
    transition: all 0.2s ease-in-out;
    border-radius: 100px;
    /* glass effect */
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ie-data:hover > .hover {
    opacity: 1;
}

iframe.git-stats {
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 32pt 0 0;
    width: 780px;
    max-width: 90vw;
    height: 264px;
    border-radius: 16px;
    border: 1px solid #e7e7ff;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@keyframes Gradient {
    0% {
        background-size: 50%;
        background-position: 30% 50%;
    }

    25% {
        background-size: 50%;
        background-position: 30% 20%;
    }

    50% {
        background-size: 80%;
        background-position: 80% 20%;
    }

    75% {
        background-size: 50%;
        background-position: 50% 20%;
    }

    100% {
        background-size: 50%;
        background-position: 30% 50%;
    }
}
